@import "../utils/variables";

.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    font-size: $primary-font-size;
    color: $primary-font-color;
    background-color: $secondary-color;
    letter-spacing: 1px;
    position: relative;
    transition: 2s;
    
    .menu{
      margin-left: 35px;
      width: 25%;
  
      .links{
        display: flex;
        position: absolute;
        transition: opacity 1s, visibility 1s;
  
        a{
          text-decoration: none;
          color: $primary-font-color;
          cursor: pointer;
          transition: color 0.5s;

          &:hover {
            color: $secondary-font-color;
          }
        }

        span{
          margin-right: 6px;
          margin-left: 6px;
          color: $primary-font-color;
        }
      }

      .title{
        transition: opacity 1s, visibility 1s;
      }
    }
  
    .main{
      width: 75%;
      display: flex;
      margin-right: 35px;
      justify-content: space-between;  
  
      .subtitle{
        transition: opacity 1s;
      }

      .categories{
        color: $primary-font-color;
        display: flex;
  
        span{
          margin-right: 6px;
          margin-left: 6px;
        }
  
        div{
          color: $primary-font-color;
          transition: 0.5s;
          cursor: pointer;
  
          &:hover {
            color: $secondary-font-color;
          }
        }
      }
      
      .navigators{
        display: flex;

        span{
          margin-right: 6px;
          margin-left: 6px;
          color: $primary-font-color;
        }

        div{
          color: $primary-font-color;
          transition: 0.5s;
          cursor: pointer;
  
          &:hover {
            color: $secondary-font-color;
          }
        }
      }
    }
  }