@import "../utils/variables";

.header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $secondary-color;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    font-size: 13px;
    color: $secondary-color;
  
    .menu{
      margin-left: 35px;
      width: 25%;
  
      .links{
        display: flex;
        transition: 0.5s;
  
        a{
          text-decoration: none;
          color: $secondary-color;
          margin-right: 6px;
        }
      }
    }
  
    .main{
      width: 75%;
      display: flex;
      margin-right: 35px;
      justify-content: space-between;
  
      .title{
        font-size: 14px;
        height: 15px;
      }
  
      .categories{
        color: lightgray;
        display: flex;
  
        span{
          margin-right: 3px;
          margin-left: 3px;
        }
  
        div{
          text-decoration: none;
          color: lightgray;
          transition: 0.5s;
          cursor: pointer;
  
          &:hover {
            color:$primary-color;
          }
        }
      }
  
    }
  }