@import "../utils/variables";

.page{
  .container{
    width: 100%;
    display: flex;
    letter-spacing: 0.5px;

    .pageNumber{
      margin-left: 35px;
      width: 25%;
      color: $primary-font-color;
    }

    .content{
      width: 75%;
      margin-right: 35px;
    }
  }
}