@import "../utils/variables";

.project{

    color: $primary-color;
    font-size: 13px;
    display: flex;

    .projectInfo{
      width: 25%;
      margin-right: 25px;

        div{
            margin-bottom: 6px;
        }

        a{
            color: $primary-color;
        }

        p{
          line-height: 1.8;
        }
    }
}
  