@import "../utils/variables";

.project{

  color: rgb(216, 210, 205);
  font-size: $primary-font-size;
  display: flex;

  .projectInfo{
    width: 25%;
    margin-right: 25px;

    div{
        margin-bottom: 6px;
    }

    a{
      color: $primary-font-color
    }

    p{
      line-height: 1.8;
    }
  }

  .image{
    transition: opacity 1s; 
    cursor: pointer;

    &:hover{
      opacity: 0.75;
    }
  }
}
  