@import "../utils/variables";

.projects{
	width: fit-content;

	.project{
		color: $primary-font-color;
    font-size: $primary-font-size;
    margin-bottom: 80px;
        
		.index{
			font-size: 11px;
		}

    div{
        margin-bottom: 6px;
    }

    .image{
      margin-top: 40px;
      transition: opacity 1s; 

      &:hover{
        opacity: 0.75;
      }
    }
  }
}
