@import "../utils/variables";

.about{
  display: flex;
  align-items: center;

  img{
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 5px 15px black;
  }

  div{
    font-size: $primary-font-size;
    color: $primary-font-color;
  }
}
  
  