@import "../utils/variables";

.projects{

	.projects-project{
		color: $primary-font-color;
    font-size: $primary-font-size;
    margin-bottom: 80px;
    width: fit-content;

        
		.index{
			font-size: 11px;
		}

    div{
        margin-bottom: 6px;
    }

    .image{
      margin-top: 40px;
      transition: opacity 1s; 

      &:hover{
        opacity: 0.75;
      }
    }
  }
}

.project-transition-enter {
  opacity: 0;
}
.project-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.project-transition-exit {
  opacity: 1;
}
.project-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
