@import "./utils/variables";

@font-face {
  font-family: 'Graphik';
  src: url(./fonts/Graphik-Regular.ttf) format('truetype');
}

html, body, #___gatsby, #gatsby-focus-wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Graphik', Arial, Helvetica, sans-serif;
  background-color: $primary-color;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
  }
  
  .content{
    height: 100%;
    position: absolute;
    left: 25%;
    top: 5%;
    color: whitesmoke;

    .spacing{
      height: 5%;
    }

    div{
      margin-bottom: 5px;
      letter-spacing: 4px;
    }
  }

}